html, body {
  grid-auto-flow: column;
  
	background-image: url("/assets/images/londonTwilight.jpg");
  background-color: rgb(20, 136, 182);
  background-repeat: no-repeat !important;
	background-size: cover !important;
 
  word-wrap: normal;
  height: 100%;
  margin: 5em;
  font-size: 18px;
  line-height: 15px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

